@using PersonalShop.Domain.Entities.Responses
@using PersonalShop.BusinessLayer.Services.Products.Dtos
@model PagedResult<SingleProductDto>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>شماره محصول</th>
            <th>نام محصول</th>
            <th>توضیحات محصول</th>
            <th>قیمت محصول</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Price.ToString("00")
                </td>
                <td>
                    <form asp-controller="Cart" asp-action="AddItem" method="post" class="d-inline">
                        <input type="hidden" name="ProductId" value="@item.Id" />
                        <input type="hidden" name="Quantity" value="1" />

                        <button type="submit" class="btn btn-primary no-outline">افزودن به سبد خرید</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<nav aria-label="Product Pagination">
    <ul class="pagination justify-content-end">
        @if(Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@(Model.PageNumber - 1)">صفحه قبل</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">صفحه قبل</span>
            </li>
        }

        @for (int number = 1; number <= Model.TotalPages; number++)
        {
            if (number == Model.PageNumber)
            {
                <li class="page-item active">
                    <span class="page-link">
                        @number
                    </span>
                </li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="?pageNumber=@number">@number</a></li>
            }
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@(Model.PageNumber + 1)">صفحه بعد</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">صفحه بعد</a>
            </li>
        }
    </ul>
</nav>
