@using PersonalShop.Domain.Orders.Dtos;
@model IEnumerable<SingleOrderDto>

@{
    ViewData["Title"] = "سفارشات";
}
<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>شماره سفارش</th>
                <th>زمان سفارش</th>
                <th>جمع پرداختی</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderDate.ToShortDateString()</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                    <td>
                        <button class="btn btn-primary no-outline" type="button" data-bs-toggle="collapse" data-bs-target="#detail-@item.Id" aria-expanded="false" aria-controls="details1">
                            اطلاعات بیشتر
                        </button>
                    </td>
                </tr>
                <tr>
                    <!-- Collapsible row -->
                    <td colspan="4">
                        <div class="collapse" id="detail-@item.Id">
                            <table class="table table-sm table-bordered mt-2">
                                <thead>
                                    <tr>
                                        <th>نام محصول</th>
                                        <th>تعداد</th>
                                        <th>قیمت تک سفارش </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var orderItem in item.OrderItems)
                                    {
                                        <tr>
                                            <td>@orderItem.ProductName</td>
                                            <td>@orderItem.Quanity</td>
                                            <td>@Html.DisplayFor(modelItem => orderItem.ProductPrice)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>