@using PersonalShop.Domain.Responses
@using PersonalShop.Features.Products.Dtos
@model PagedResult<SingleProductDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity!.IsAuthenticated)
{
    <p>
        <form asp-controller="Product" asp-action="addProduct" method="get" class="d-inline">
            <button type="submit" class="btn btn-primary">افزودن محصول</button>
        </form>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>شماره محصول</th>
            <th>نام محصول</th>
            <th>توضیحات محصول</th>
            <th>قیمت محصول</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Price.ToString("00")
                </td>
                <td>
                    @if (item.User.IsOwner)
                    {
                        <form asp-controller="Product" asp-action="DeleteProduct" asp-route-productId="@item.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('آیا از حذف این محصول مطمئن هستید؟')">حذف</button>
                        </form>
                        <form asp-controller="Product" asp-action="UpdateProduct" asp-route-productId="@item.Id" method="get" class="d-inline">
                            <button type="submit" class="btn btn-success">ویرایش</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
